.auto-spin {
    position: absolute;
    top: 22px;
    left: 661px;
    height: 40px;
    width: 140px;
    z-index: 2;
}    

.auto-spin__default-mode {
    position: relative;
    height: 40px;
    width: 140px;
    display: flex;
    align-items: center;
    background: url(../assets/img/auto-spin-default.png) no-repeat center top / 140px;
    padding-left: 24px;
    z-index: 2;
    cursor: pointer;
}
.auto-spin__default-mode-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #3d0000;
    text-shadow: #ffc600 0 1px;
}
.auto-spin__default-mode:hover + .auto-spin__options-list,
.auto-spin__options-list:hover {
    height: 136px;
    transition: 1s;
}

.auto-spin__options-list {
    position: absolute;
    left: 0;
    bottom: 12px;
    height: 28px;
    width: 140px;
    background: url(../assets/img/spinselect_box_bg.png) no-repeat center top / 140px;
    padding-top: 10px;
    list-style: none;
    overflow: hidden;
    z-index: 0;
    transition: 1s;
}
.auto-spin__options-list-item {
    color: #ffd100;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    cursor: pointer;
}
.auto-spin__options-list-item:hover {
    color: #fff;
}
.auto-spin__options-list-item_until-feature {
    display: flex;
    align-items: center;
}
.auto-spin__options-list-item_until-feature-icon {
    height: 14px;
    width: 14px;
}
.auto-spin__options-list-item_until-feature-text {
    padding-left: 2px;
}

.auto-spin__limited-spins-mode:hover + .auto-spin__options-list {
    height: 28px;
}
.auto-spin__unlimited-spins-mode:hover + .auto-spin__options-list {
    height: 28px;
}

.auto-spin__limited-spins-mode {
    position: relative;
    height: 40px;
    width: 140px;
    display: none;
    align-items: center;
    border: 0;
    outline: none;
    background: url(../assets/img/auto-spin-default.png) no-repeat center top / 140px;
    padding-left: 5px;
    z-index: 2;
    cursor: pointer;
}
.auto-spin__spins-left-bg {
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/img/counter_backg.png) no-repeat center top / 28px;
}
.auto-spin__spins-left-value {
    font-size: 14px;
    color: #ffbd00;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.auto-spin__limited-spins-text {
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #3d0000;
    padding-left: 2px;
}

.auto-spin__unlimited-spins-mode {
    position: relative;
    height: 40px;
    width: 140px;
    display: none;
    align-items: center;
    border: 0;
    outline: none;
    background: url(../assets/img/auto-spin-default.png) no-repeat center top / 140px;
    padding-left: 5px;
    z-index: 2;
    cursor: pointer;
}
.auto-spin__unlimited-spins-bg {
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/img/counter_bg.png) no-repeat center top / 28px;
}
.auto-spin__unlimited-spins-sign {
    height: 20px;
    width: 20px;
    background: url(../assets/img/icon-feature-big.png) no-repeat center top / 20px;
}
.auto-spin__unlimited-spins-text {
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #3d0000;
    padding-left: 2px;
}