.bet-field {
    position: absolute;
    top: 22px;
    left: 88px;
    height: 36px;
    width: 138px;
    background: url(../assets/img/bet-field-big.png) no-repeat center top / 138px;
}
.bet-field__button {
    position: absolute;
    height: 30px;
    width: 30px;
    border: 0;
    outline: none;
}
.bet-field__button_minus {
    top: 4px;
    left: 4px;
    background: url(../assets/img/bet-field-button-default.png) no-repeat center top / 30px;
    transition: .1s;
}
.bet-field__button_minus:hover,
.bet-field__button_minus:focus {
    background: url(../assets/img/bet-field-button-hover.png) no-repeat center top / 30px;
    transition: .1s;
}
.bet-field__button_minus:active {
    background: url(../assets/img/bet-field-button-active.png) no-repeat center top / 30px;
    transition: .1s;
}
.bet-field__button_minus:disabled {
    background: url(../assets/img/bet-field-button-disabled.png) no-repeat center top / 30px;
    transition: .1s;
}
.bet-field__button_plus {
    top: 4px;
    right: 4px;
    background: url(../assets/img/bet-field-button-default.png) no-repeat center top / 30px;
}
.bet-field__button_plus:hover,
.bet-field__button_plus:focus {
    background: url(../assets/img/bet-field-button-hover.png) no-repeat center top / 30px;
    transition: .1s;
}
.bet-field__button_plus:active {
    background: url(../assets/img/bet-field-button-active.png) no-repeat center top / 30px;
    transition: .1s;
}
.bet-field__button_plus:disabled {
    background: url(../assets/img/bet-field-button-disabled.png) no-repeat center top / 30px;
    transition: .1s;
}

.bet-field__sign {
    position: absolute;
    top: 9px;
    left: 9px;
    height: 13px;
    width: 13px;
}
.bet-field__sign_minus {
    top: 13px;
    left: 8px;
    background: url(../assets/img/minus-sign-default.png) no-repeat center top / 13px;
}
.bet-field__sign_plus {
    background: url(../assets/img/plus-sign-default.png) no-repeat center top / 13px;
}


.bet-field__info-label {
    position: absolute;
    top: 4px;
    left: 34px;
    height: 30px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bet-field__info-label-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ff6972;
    font-size: 10px;
    text-shadow: #710008 0 2px;
}
.bet-field__info-label-value {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffd100;
    font-size: 10px;
    text-shadow: #710008 0 2px;
}