.coin-field {
    position: absolute;
    top: 22px;
    left: 232px;
    height: 36px;
    width: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../assets/img/coin-field.png) no-repeat center top / 72px;
}
.coin-field__info-label-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ff6972;
    font-size: 10px;
    text-shadow: #710008 0 2px;
}
.coin-field__info-label-value {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffd100;
    font-size: 10px;
    text-shadow: #710008 0 2px;
}

    