.window {
    position: absolute;
    top: 7px;
    left: 302px;
    height: 65px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/img/window.png) no-repeat center top / 300px;
}
.window__text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffd100;
    font-size: 36px;
    text-shadow: #710008 0 4px;
}