.info-button {
    position: absolute;
    top: 22px;
    left: 46px;
    height: 36px;
    width: 36px;
    border: 0;
    outline: none;
    background: url(../assets/img/info-button-default.png) no-repeat center top / 36px;
    transition: .1s;
}
.info-button:hover,
.info-button:focus {
    background: url(../assets/img/info-button-hover.png) no-repeat center top / 36px;
    transition: .1s;
}
.info-button:active {
    background: url(../assets/img/info-button-active.png) no-repeat center top / 36px;
    transition: .1s;
}
.info-button:disabled {
    background: url(../assets/img/info-button-disabled.png) no-repeat center top / 36px;
    transition: .1s;
}
.info-button-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 23px;
    width: 7px;
    background: url(../assets/img/info-sign.png) no-repeat center top/ 7px;
}