.spin-button {
    position: absolute;
    top: -20px;
    left: 734px;
    height: 122px;
    width: 122px;
    border: 0;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/img/spin-default.png) no-repeat center top / 122px;
    z-index: 3;
}

.spin-button:disabled,
.spin-button:disabled:hover {
    background: url(../assets/img/spin-disabled.png) no-repeat center top / 122px;
}
.spin-button:hover {
    background: url(../assets/img/spin-hover.png) no-repeat center top / 122px;
}
.spin-button:active {
    background: url(../assets/img/spin-active.png) no-repeat center top / 122px;
}
.spin-button__icon-spin {
    height: 56px;
    width: 66px;
    background: url(../assets/img/spin_sign-default.png) no-repeat center top / 66px;
    animation: spin-icon-animation 4s linear infinite;
}
@keyframes spin-icon-animation {
    0% {transform: rotate(0deg);}
    40% {transform: rotate(0deg);}
    60% {transform: rotate(-360deg);}
    100% {transform: rotate(-360deg);}
}
.spin-button__icon-spin_disabled {
    display: none;
    height: 56px;
    width: 66px;
    background: url(../assets/img/spin_sign-disabled.png) no-repeat center top / 66px;
}



.stop-button {
    display: none;
    position: absolute;
    top: -20px;
    left: 734px;
    height: 122px;
    width: 122px;
    border: 0;
    outline: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background: url(../assets/img/spin-default.png) no-repeat center top / 122px;
    z-index: 3;
}
.stop-button:disabled,
.stop-button:disabled:hover {
    background: url(../assets/img/spin-disabled.png) no-repeat center top / 122px;
}
.stop-button:hover {
    background: url(../assets/img/spin-hover.png) no-repeat center top / 122px;
}
.stop-button:active {
    background: url(../assets/img/spin-active.png) no-repeat center top / 122px;
}
.stop-button__icon-stop {
    display: none;
    height: 41px;
    width: 41px;
    background: url(../assets/img/stop_sign-default.png) no-repeat center top / 41px;
}
.stop-button__icon-stop_disabled {
    display: none;
    height: 41px;
    width: 41px;
    background: url(../assets/img/stop_sign-disabled.png) no-repeat center top / 41px;
}