* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 50px;
}

.bottom-bar-container {
    position: relative;
    width: 900px;
    height: 70px;
    background: url(../assets/img/bottom-bar.png) no-repeat center top / 900px;
}




