.turbo-switcher {
    position: absolute;
    top: 22px;
    left: 602px;
    height: 36px;
    width: 58px;
    background: url(../assets/img/switcher-bg-red.png) no-repeat center top / 58px;
}
.turbo-switcher_on {
    position: absolute;
    top: 22px;
    left: 602px;
    height: 36px;
    width: 58px;
    background: url(../assets/img/switcher-bg-green.png) no-repeat center top / 58px;
}

.turbo-switcher__label {
    position: absolute;
    bottom: 3px;
    left: 3px;
    height: 19px;
    width: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/img/switcher-default.png) no-repeat center top / 51px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #3d0000;
    text-shadow: #ffc600 0 2px;
}
.turbo-switcher__checkbox {
    height: 1px;  
    width: 1px;
    overflow: hidden;
    visibility: hidden;
    clip: rect(0 0 0 0);
}

.turbo-switcher__label:hover {
    background: url(../assets/img/switcher-hover.png) no-repeat center top / 51px;
}
.turbo-switcher__label:active {
    background: url(../assets/img/switcher-active.png) no-repeat center top / 51px;
}
.turbo-switcher__label_on {
    position: absolute;
    bottom: 12px;
    left: 3px;
    height: 19px;
    width: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/img/switcher-default.png) no-repeat center top / 51px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #3d0000;
    text-shadow: #ffc600 0 2px;
}
